@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Gemunu+Libre:wght@300;400&family=Raleway:wght@300;400&display=swap');

@font-face {
    font-family: 'Gemunu Libre';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/gemunulibre/v8/X7ni4bQ6Cfy7jKGXVE_YlqnxHSj0.woff2) format('woff2');
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DancingScript-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Nabla';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Nabla-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/LeagueGothic-Regular.ttf) format('truetype');
}

.fonts-1 {
    font-size: 42px;
    font-family:'Gemunu Libre' ;
    color: #00B489;
}

.fonts-2 {
    font-size: 36px;
    font-family: 'Domine', serif;
    color: #6A00FF;
}

.fonts-3 {
    font-size: 48px;
    font-family: 'Nabla';
}

.fonts-4 {
    font-size: 36px;
    font-family: 'Cinzel-semibold', serif;
    color: #EA4C89;
}

.fonts-5 {
    margin-top: 25px;
    font-size: 36px;
    font-family: 'League Gothic', sans-serif;
}


@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Cinzel-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Cinzel-medium';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Cinzel-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Cinzel-semibold';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Cinzel-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Cinzel-bold';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Cinzel-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Cinzel-black';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Cinzel-Black.ttf) format('truetype');
}



.fonts-6 {
    margin-top: 25px;
    font-size: 28px;
    font-family: 'Cinzel', serif;
}

.fonts-7 {
    margin-top: 25px;
    font-size: 30px;
    font-family: 'Cinzel-medium';
}

.fonts-8 {
    margin-top: 25px;
    font-size: 32px;
    font-family: 'Cinzel-semibold';
}

.fonts-9 {
    margin-top: 25px;
    font-size: 34px;
    font-family: 'Cinzel-bold';
}

.fonts-10 {
    margin-top: 25px;
    font-size: 36px;
    font-family: 'Cinzel-black';
}
