.table {
    background: rgba(0, 255, 247, 0.268);
    width: 100%;
    border: 4px solid rgba(51, 46, 210, 0.671);
}

.table-caption {
    font-size: 32px;
    margin-bottom: 24px;
    text-align: center;
    color: rgb(132, 0, 255);
} 

td {
    font-size: 24px;
    text-align: center;
    padding: 12px 13px;
    border: 2px solid rgb(4, 65, 249); 
    vertical-align: middle;
    color: rgb(255, 0, 0);
}
